html {
  font-size: 14px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  color: var(--body-color);
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

h3 {
  font-size: 1.125rem;
  font-weight: 500;
}

.text-muted {
  color: #8a94ad;
}

.dark .text-muted {
  color: #7e87a2;
}
